<nav class="navbar navbar-custom navbar-fixed-top" [ngClass]= "{'scrolled-nav': isScrolled}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button md-icon-button [mdMenuTriggerFor]="menu" class="navbar-toggle"  yPosition="below">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu" style="background-color: black; color: white;">
        <a md-menu-item href="#about">
          <span>About</span>
        </a>
        <a md-menu-item href="#works">
          <span>Works</span>
        </a>
        <a md-menu-item href="#contact">
          <span>Contact</span>
        </a>
      </md-menu>
      <a class="navbar-brand " href="#page-top" id="pageTopBtn" (click)="clickedColor($event)">
        <i class="fa fa-code-fork"></i> <span class="light" id="pageTopBtn" (click)="clickedColor($event)" [ngClass]= "{'clicked-btn': stateExpressionObject.pageTopBtn}" style="text-decoration: none">Aniello</span> Falcone
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a href="#about" id="aboutBtn" (click)="clickedColor($event)" [ngClass]= "{'clicked-btn': stateExpressionObject.aboutBtn}">About</a>
        </li>
        <li>
          <a href="#works" id="worksBtn" (click)="clickedColor($event)" [ngClass]= "{'clicked-btn': stateExpressionObject.worksBtn}">Works</a>
        </li>
        <li>
          <a href="#contact" id="contactBtn" (click)="clickedColor($event)" [ngClass]= "{'clicked-btn': stateExpressionObject.contactBtn}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
