/*********** GENERAL SETTINGS ***********/

.navbar-custom.top-nav-collapse {
  padding: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: black;
}
.navbar-custom{
  margin-bottom: 0;
  padding: 20px 0;

  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-bottom: none;
  background: transparent;

  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.scrolled-nav {
  max-height: 50px !important;
  padding: 0 !important;

  background-color: black !important;
}
.navbar-custom .navbar-toggle {
  display: none;

  color: white;
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: #76FF03;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  color: #76FF03;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.clicked-btn {
  color: #76FF03 !important;
}


/*********** MOBILE SETTINGS ***********/

@media (max-width: 767px) {
  .navbar-custom {
    padding: 0;
  }
  .navbar-toggle {
    display: block !important;

    width: 50px !important;
    height: 50px !important;
  }
  .navbar-custom .navbar-toggle {
    transition: background-color 1s ease-out;

    background-color: transparent;

    font-size: 0;
  }
  .navbar-brand {
    font-size: 13px;
  }
  .navbar-fixed-top {
    z-index: 1000;
  }
}
