/*********** GENERAL SETTINGS ***********/

.contact-section {
  padding-top: 50px;
}
.contact-section a:hover{
  text-decoration: underline;
}
.toggle-container {
  position: absolute;
  background-color: white;
  border:10px solid black;
  width:200px;
  text-align:center;
  line-height:100px;
  font-size:50px;
  box-sizing:border-box;
  overflow:hidden;
  z-index: 10;
  visibility: hidden;
}
ul.banner-social-buttons {
  margin-bottom: 35px;
}

/*********** MOBILE SETTINGS ***********/

@media (max-width: 767px) {
  .list-inline {
    display: inline-flex;
    margin-bottom: 34px;

  }
  ul.banner-social-buttons li {
    display: block;

    margin: 15px;
    padding: 0;
  }

  ul.banner-social-buttons li span {
    display: none;
  }
}
