<section id="contact" class="container text-center contact-section" >
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contacts</h2>
      <p>Feel free to email me, give me suggestions, or to just say hello!</p>
      <p><a href="mailto:aniellofalcone92@gmail.com">aniellofalcone92@gmail.com</a>
      </p>

      <ul class="list-inline banner-social-buttons">
        <li>
          <a id="twitter" [href]="twitterUrl" class="btn btn-default btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
          </a>
        </li>

        <li>
          <a id="github" [href]="facebookUrl" class="btn btn-default btn-lg">
            <i class="fa fa-facebook fa-fw"></i>
             <span class="network-name">Facebook</span>
          </a>
        </li>

        <li>
          <a id="google+" [href]="linkedinUrl" class="btn btn-default btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
             <span class="network-name">Linkedin</span>
          </a>
        </li>

      </ul>

    </div>
    <!-- <div class="">
      <button (mouseover)="expand()" (mouseleave)="expand()">Open</button>
      <button (click)="collapse()">Closed</button>
      <div class="toggle-container" [@openClose]="stateFinal">
        Look at this box
      </div>
    </div> -->
  </div>
</section>
