<div id="map">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapDraggable]="mapDraggable"
   [zoomControl]="mapDraggable" [disableDoubleClickZoom]="disableDoubleClickZoom"
   [scrollwheel]="scrollwheel" [streetViewControl]="streetViewControl" [styles]="styles">

    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl"
    [openInfoWindow]="openInfoWindow" [opacity]="opacity">

      <agm-info-window isOpen="true">
        <strong>Viale Monza, 13</strong>
        <br/>20125 Milano
      </agm-info-window>
      
    </agm-marker>
  </agm-map>
</div>
