/*********** GENERAL SETTINGS ***********/

.content-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*********** MOBILE SETTINGS ***********/

@media (min-width: 768px) {
  .content-section {
    padding-top: 250px;
  }
}
