/*********** GENERAL SETTINGS ***********/

.works-section {
  width: 100%;
  padding: 100px 0;

  color: white;
  background: url(/assets/img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
