<section id="works" class="content-section text-center">
  <div class="works-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Gallery</h2>
        <p>Theese are some of my best coded works</p>
        <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit works Page</a>
      </div>
    </div>
  </div>
</section>
