<header class="intro">
  <div class="intro-body">
    <div class="container carousel-intro">
      <div class="row">
        <div>
          <carousel [interval]="interval">
            <slide *ngFor="let quote of quotes;">
              <p id="quote">
                {{quote.content}}
              </p>
              <p id="author">
                - {{quote.author}}
              </p>
            </slide>
          </carousel>
        </div>
      </div>

    </div>
    <a href="#about">
      <div class="scroll-down">
        <span>
          <i class="fa fa-angle-down fa-2x"></i>
        </span>
      </div>
    </a>
  </div>
</header>
