/*********** GENERAL SETTINGS ***********/

:host >>> .carousel-intro {
  min-width: 100%;
  margin-right: 0;
  margin-left: 0;
}
:host >>> .carousel-indicators {
  bottom: -70px;

  display: none !important;
}
:host >>> .carousel-control {
  display: none !important;
}
:host >>> .carousel-inner {
  position: relative;

  overflow: hidden;

  width: 80%;
  height: 160px;
  margin-right: auto;
  margin-left: auto;
}
:host >>> #author {
  position: absolute;
  right: 15vw;

  font-family: cursive;
  font-weight: bold;
}
.intro .intro-body .brand-heading {
  font-size: 100px;
}
.intro .intro-body .intro-text {
  font-size: 26px;
}
.intro {
  display: table;

  width: 100%;
  height: 100%;
  padding: 100px 0;
  padding-top: 15vh !important;
  padding-bottom: 15vh !important;

  text-align: center;

  color: white;
  background: url(/assets/img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}

/*********** MOBILE SETTINGS ***********/

@media (max-width: 767px) {
  .intro .intro-body {
    padding-top: 0;
  }
  :host >>> .carousel-inner {
    height: 330px;
    padding-top: 50px;
  }
  .btn-circle {
    margin-top: 10vh;
  }
}
