/*********** GENERAL SETTINGS ***********/

body {
  margin: 0px;

  width: 100%;
  height: 100%;

  color: white;
  background-color: black;

  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;

  letter-spacing: 1px;
  text-transform: uppercase;

  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
p {
  margin: 0 0 25px;

  font-size: 18px;
  line-height: 1.5;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #76FF03;
}
a:hover,
a:focus {
  text-decoration: none;

  color: darkorange;
}
.light {
  font-weight: 400;
}
.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 0;

  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.btn-default {
  color: #76FF03;
  border: 1px solid #76FF03;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: black;
  border: 1px solid #76FF03;
  outline: none;
  background-color: #76FF03;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}
::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}


/*********** MOBILE SETTINGS ***********/

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;

    font-size: 20px;
    line-height: 1.6;
  }
}


/*********** MENU SETTINGS ***********/

.mat-menu-content {
  background-color: black !important;
}
.mat-menu-item {
  color: white !important;
}
.cdk-overlay-pane {
  box-shadow: 0px 0px 5px #76FF03;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 0;
	top:80%;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px !important;
	width: 50px !important;
	margin-left: -15px;
	display: block;
	z-index: 10;
  text-align: center;
}

.scroll-down span{
  position: relative;
  color: #fff !important;
  -webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}
