<footer>
  <div class="container text-center">
    <p>Made with <i class="fa fa-code" aria-hidden="true"></i> and  <i class="fa fa-spotify" aria-hidden="true"></i></p>
    <p>by</p>
    <p id="signature">Aniello Falcone</p>
  </div>
</footer>
